body{
    background-color: #f5f5f5;
}
.container{
    background-color: #d0d0d0;
    width: 205px;
    height: 350px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bloc{
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: #ffffff;
    margin: auto;
}

.bloc1{
    background-color: #ff7676;
    width:92px;
    height:90px;
    margin: 2px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bloc2{
    background-color:#c2ff76;
    width: 190px;
    height: 50px;
    margin: 2px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bloc3{
    background-color:#ff9bf7;
    width: 92px;
    height: 90px;
    margin: 2px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bloc4a{
    background-color:#9ba4ff;
    width: 190px;
    height: 65px;
    margin: 2px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bloc4b{
    background-color:#9ba4ff;
    width: 190px;
    height: 65px;
    margin: 2px;
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}